#!/usr/bin/make -f
# -*- makefile -*-
#
DH_VERBOSE=1
export PYBUILD_NAME=lhafile

export PYBUILD_DESTDIR_python2=debian/python-lhafile/
# export PYBUILD_DESTDIR_python2-dbg=debian/python-lhafile-dbg/
export PYBUILD_DESTDIR_python3=debian/python3-lhafile/
# export PYBUILD_DESTDIR_python3-dbg=debian/python3-lhafile-dbg/

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
